{% extends "model-page.html" %}

{% block content %}
    <h1 class="text-center">Detalhes do Instrumento</h1>
    <br>
    <div class="container" style="margin-bottom: 10%">
      <div class="row">
          {% if instruments.photo %}
          <div class="col-sm-4">
              <div style="border-color: black; border-style: solid; width: 356px; height: 300px;">
                  <img src="{{ instruments.photo.url }}" alt="NotFound" width="350" height="263" style="margin-top: 16px;"> 
              </div>
              <br>
          </div>
          {% endif %}
          <div class="col-sm-8">
              <h2>{{ instruments.name }}</h2>
              <h5>Informações:</h5>                     
              <div style="display: inline-flex">
                <p><b>Marca:</b></p> 
                  {% for brand in instruments.brands.all %}
                    <p>&nbsp{{ brand }}</p>
                  {% endfor %}
                </div>
                <p><b>Cordas: </b>{{ instruments.strings }}</p>                
          
          </div>
      </div>
    </div>  
{% endblock %}