{% extends "model-page.html" %}

{% block style %}
    <style>
        div.polaroid {
            width: 250px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            border: black solid 2px;
        }
        div.container {
            padding: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container" style="margin-bottom: 10%">
            <div class="row">
                {% for i in instruments %}
                    <div class="col-sm-4">
                        <a href="../detail/{{ i.id }}">
                            <div class="polaroid">
                                {% if i.photo %}
                                <img src="{{ i.photo.url }}" style="width:100%">
                                {% endif %}
                                <div class="container">
                                    <p>Nome: {{ i.name }}</p>
                                    <div style="display: inline-flex">
                                        <p >Marca:</p>
                                        {% for brand in i.brands.all %}
                                        <p>&nbsp{{ brand }}; </p>
                                        {% endfor %}
                                    </div>
                                    <p>Cordas: {{ i.strings }}</p>
                                </div>
                            </div>
                        </a>
                        <br>
                    </div>                
                {% endfor %}
            </div>
        </div>  
    </div>
{% endblock %}